name: Run Automated Tests on Dispatch
on:
  repository_dispatch:
    types: [run-tests]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:  
        name: playwright-report
        path: playwright-report/
        retention-days: 10

    - uses: actions/checkout@v2
    - name: Slack Notification
      if: always()
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_WEBHOOK: ${{ secrets.AUTOMATED_TESTS_SLACK_WEBHOOK }}
        SLACK_COLOR: ${{ job.status }} 
        SLACK_ICON: https://github.com/rtCamp.png?size=48
        SLACK_MESSAGE: |
          *:white_check_mark: Automated Tests Completed*
          *Repository:* `${{ github.repository }}`
          *Status:* `${{ job.status }}`
          *View the [Playwright Report](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})`
        SLACK_TITLE: 'Automated Tests Notification'
        SLACK_USERNAME: Automated-Tests-Bot
